.body a,.body a:link{text-decoration:none}.body,.body input{font-family:"HPSimplified",arial}.body a,.body object,.body embed{outline:0 none;border:none}.body img{border:0 none}.body{display:block;margin:0 auto;width:1000px;padding-bottom:0}ul{list-style-type:none;margin:0;padding:0}p{margin:0;padding:0}.screenReading{font-size:0 !important;height:0;overflow:hidden;position:absolute;width:0;opacity:0}h1,h2,h3,h4,h5{margin-top:0}

/*
Date: 3/2/2015 12:36:31 PM
All images published
*/
